<div class="container">
    {% for comment in comments %}
        <div class="card mx-auto w-75 mb-3 p-3" style="color:black">
            <div class="row">
                <div class="col-1">
                    <img src="{{ MEDIA_URL }}{{ comment.author.picture }}"
                         class="img-fluid"
                         style="min-width:50px; min-height:50px; border-radius: 10px"
                         alt="avatar_thumbnail"/>
                </div>
                <div class="col-10">
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.body }}</p>
                </div>
                <!-- Remove review button -->
                {% if user.id == comment.author.id %}
                    <div class="col-1">
                        <button class="btn btn-danger remove-comment"
                                data-categoryslug="{{ category.slug }}"
                                data-commentid="{{ comment.id }}">
                            X
                        </button>
                    </div>
                {% endif %}
            </div>
            <span>
                {{ comment.date_added }}
                <span class="float-right">{{ comment.likes }}</span>
            </span>
        </div>

    {% empty %}
        <p class="text-center">Nobody feels offended yet.<br />
            Lead by example by hating on us first!</p>
    {% endfor %}
</div>
