    {% for comment in comments %}
        <div class="card mx-auto mb-3 p-3" style="color:black; background-color: white">
            <div class="row justify-content-between">
                <!-- User's picture -->
                <div class="col-10">
                    <a href="{% url 'musicquiz:profile' comment.author.user.username %}" class="thumbnail-link">
                        <img src="{{ MEDIA_URL }}{{ comment.author.picture }}"
                             class="avatar-thumbnail"
                             alt="avatar_thumbnail"/>
                    </a>

                    <!-- User's name and their comment -->
                    <div class="d-inline">
                        <a href="{% url 'musicquiz:profile' comment.author.user.username %}" class="comment-username">
                            {{ comment.author }}
                        </a>
                        <p class="comment-text">{{ comment.body }}</p>
                    </div>
                </div>

                <!-- Remove review button -->
                {% if user.id == comment.author.id %}
                <div class="col-2">
                    <button class="btn float-right remove-comment"
                            data-categoryslug="{{ category.slug }}"
                            data-commentid="{{ comment.id }}">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                {% endif %}
            </div>
            <!-- Date added and like numbers -->
            <div class="row align-items-center comments-bottom">
                <div class="col-7">
                    {{ comment.date_added }}
                </div>
                <div class="col-3">
                    <span class="float-right">{{ comment.likes.count }} likes</span>
                </div>
                <div class="col-2">
                <!-- Like buttons -->
                {% if user.is_authenticated %}
                    {% if user.userprofile in comment.likes.all %}
                        <button class="btn like-button float-right"
                                data-categoryslug="{{ category.slug }}"
                                data-commentid="{{ comment.id }}"
                                data-userid="{{ user.id }}">
                            <i class="fa fa-thumbs-up"></i> Unlike
                        </button>
                    {% else %}
                        <button class="btn like-button float-right"
                                data-categoryslug="{{ category.slug }}"
                                data-commentid="{{ comment.id }}"
                                data-userid="{{ user.id }}">
                            <i class="fa fa-thumbs-up"></i> Like
                        </button>
                    {% endif %}
                {% else %}
                    <button class="btn like-button float-right disabled">
                        <i class="fa fa-thumbs-up"></i> Like
                    </button>
                {% endif %}
                </div>
            </div>
        </div>

    {% empty %}
        <p class="text-center">Nobody feels offended yet.<br />
            Lead by example by hating on us first!</p>
    {% endfor %}
