<div class="container">
    {% for comment in comments %}
        <div class="card mx-auto mb-3 p-3" style="color:black">
            <div class="row">
                <!-- User's picture -->
                <div class="col-1">
                    <a href="{% url 'musicquiz:profile' comment.author.user.username %}">
                        <img src="{{ MEDIA_URL }}{{ comment.author.picture }}"
                             class="img-fluid avatar-thumbnail"
                             alt="avatar_thumbnail"/>
                    </a>
                </div>

                <!-- User's name and their comment -->
                <div class="col-10">
                    <a href="{% url 'musicquiz:profile' comment.author.user.username %}" class="comment-username">
                        {{ comment.author }}
                    </a>
                    <p>{{ comment.body }}</p>
                </div>

                <!-- Remove review button -->
                {% if user.id == comment.author.id %}
                    <div class="col-1">
                        <button class="btn btn-danger remove-comment"
                                data-categoryslug="{{ category.slug }}"
                                data-commentid="{{ comment.id }}">
                            X
                        </button>
                    </div>
                {% endif %}
            </div>
            <p>
                {{ comment.date_added }}
                <span class="float-right">{{ comment.likes }} likes</span>
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-thumbs-up"></i> Like
                </button>
        </div>

    {% empty %}
        <p class="text-center">Nobody feels offended yet.<br />
            Lead by example by hating on us first!</p>
    {% endfor %}
</div>
