{% extends 'musicquiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
	Login
{% endblock %}

{% block body %}
    <div class="container-md mt-5">

        <h1>Login</h1>

        <form method="post" action=".">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" value="Log In" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p>
            Not registered?
            <a href="{% url 'registration_register' %}">Register here!</a>
        </p>
    </div>
{% endblock %}
