body {
    font-family: 'B612 Mono', monospace;
    background: #383838;
    color: #00ff29;
    position: relative;
}

html, body {
    width:100%;
    height:100%;
}

@media (max-width: 576px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

canvas {
    display:block;
}

.cat-img {
    opacity: 1;
    max-width: 90%;
    transition: transform .3s ease;
    backface-visibility: hidden;
}

.cat-title {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.cat-title-text {
    background-color: #1b4000;
    padding: 0.25rem;
}

.category-container:hover .cat-img {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.3;
}

.category-container:hover .cat-title {
    opacity:1;
}

#comments {
    font-size: 0.9em;
}

@media (min-width: 769px){
    .comment-section {
        width: 75%;
    }
}

.form-control {
    background-color: #275f00;
    border-color: #275f00;
    color:white;
    max-width: 50%;
}

.form-control:focus {
    background-color: #275f00;
    border-color: #275f00;
    color:white;
    max-width: 50%;
}

.heading-wrapper {
    background-color: #1b4000;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-content {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding: 3rem 2rem;
    background-color: #1d2124;
    border-radius: 15px;
}

@media (max-width: 768px)  {
    .main-content {
        padding: 1rem;
    }
}

.home-page {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 40%;
}

.home-title {
    font-size: 2.5rem;
}

.avatar-thumbnail {
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.avatar-thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail-link:hover {
    text-decoration: none;
}

.comment-username {
    color: black;
    font-weight: bold;
}

.comment-username:hover {
    color: black;
    text-decoration: underline;
}

.comment-text {
    padding-left: 3.85rem;
    margin-top: -0.75rem;
}

.comments-bottom {
    font-size: 0.95em;
}

.like-button {
    font-size: 0.7rem;
    color: white;
    background-color: dodgerblue;
    padding: 0.30rem;
}

.like-button:hover {
    background-color: #263fff;
    color: white;
}

.unlike-button {
    font-size: 0.7rem;
    color: white;
    background-color: red;
    padding: 0.30rem;
}

.unlike-button:hover {
    background-color: darkred;
    color: white;
}

.remove-comment {
    background-color: red;
    color: white;
    padding: 0 0.3rem;
}

.remove-comment:hover {
    color: white;
    background-color: #e00000;
}

.index-yes {
    background-color: #00ff29;
    color: black;
    padding: 0.65rem;
    border-radius: 0.50rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out;
}
.index-yes:hover {
    text-decoration: none;
    color:black;
    background-color: #00c420;
}

.index-no {
    background-color: red;
    color: white;
    padding: 0.65rem;
    border-radius: 0.50rem;
    margin-left: 1rem;
    cursor:pointer;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out;
}

.index-no:hover {
    text-decoration: none;
    color: white;
    background-color: #e00000;
}

#comment-body {
    resize: none;
    max-width: 100%;
}

.logo{
    max-width:5rem;
    max-height:6rem;
}

.avatar-big {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    border: 5px solid #555;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color:#000000;
}

#particles-js{
    width: 100%;
    height: 100%;
}

#bootstrap-overrides .nav-link {
    color: #00ff29;
}

#bootstrap-overrides .navbar-brand{
    color: #00ff29;
}

#bootstrap-overrides .btn.btn-light{
    border-style: none;
    border-radius: 15px;
    background: #00ff29;
    color: black;
    font-size: 16px;
}

#bootstrap-overrides .login {
    color: #00ff29;
}

.custom-content {
    padding: 5rem 0;
    text-align: center;
}


