body {
    font-family: 'B612 Mono', monospace;
    background: #383838;
    color: #00ff29;
    position: relative;
}

html, body {
    width:100%;
    height:100%;
}

canvas {
    display:block;
}

.cat-img {
    max-width: 90%;
}

.heading-wrapper {
    background-color: #1b4000;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-content {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding: 3rem;
    background-color: #1d2124;
    margin-bottom: 5rem;
    border-radius: 15px;
}

.home-page {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 45%;
}

.index-yes {
    background-color: #00ff29;
    color: black;
    padding: 0.65rem;
    border-radius: 0.50rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.index-yes:hover {
    text-decoration: none;
    color:black;
    background-color: #00c420;
}

.index-no {
    background-color: red;
    color: white;
    padding: 0.65rem;
    border-radius: 0.50rem;
    margin-left: 1rem;
    cursor:pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.index-no:hover {
    text-decoration: none;
    color: white;
    background-color: #c10000;
}

#particles-js{
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100%;
}


#bootstrap-overrides .nav-link {
    color: #00ff29;
}

#bootstrap-overrides .navbar-brand{
    color: #00ff29;
}

#bootstrap-overrides .btn.btn-light{
    border-style: none;
    border-radius: 15px;
    background: #00ff29;
    color: black;
    font-size: 16px;
}

#bootstrap-overrides .login {
    color: #00ff29;
}

.custom-content {
    padding: 5rem 0rem;
    text-align: center;
}


