{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block body %}
<style>
</style>
    <div class="container main-content">
        <div class="heading-wrapper">
            <h2 class="text-center">About us</h2>
        </div>
        <br/>
        <hr class="rounded">

        <p class="text-justify">Here at Digital Planet, we are passionate about connecting users across the globe and allowing them to communicate about
            music. We feel it is important to be able to share and discuss music with everyone, no matter how far away they might be.</p>
        <p class="text-justify">Using cutting edge technology, we have developed a state of the art quiz which will accurately define our users music taste
            into one of five categories. Our users are then able to communicate via the forms for each category!
        </p>
        <hr class="rounded">
        <br/>
        <h2 class="text-center">Meet the developers!</h2>
        <br/>
        <div class="row">
            <div class="col">
                <img class="avatar-big" src="{{ MEDIA_URL }}goose.jpg" />
            </div>
            <div class="col">
                <img class="avatar-big" src="{{ MEDIA_URL }}zebra.jpg" />
            </div>
            <div class="col">
                <img class="avatar-big" src="{{ MEDIA_URL }}vibecat.jpg" />
            </div>
        </div>

        <br/>
        <br/>
        <hr class="rounded">
        <br/>

        <h2 class="text-center">Want to contact us?</h2>
        <p>Please feel free to email us at any time with your concerns and we will be sure to get back to you as soon as we can!</p>
        <p>email: fakeemail@lol.com</p>
        <br/>
        <hr class="rounded">
        <br/>
    </div>
{% endblock %}}