{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <div class="container-md main-content">
        <div class="heading-wrapper">
            <h2 class="text-center">How enlightened are you?</h2>
        </div>
        <br/>
        {% for category in categories %}
            {% if forloop.counter == 1 or forloop.counter == 3 %}
                <div class="row">
            {% endif %}

            <div class="col-md">
                <div class="text-center">
                    <a href="{% url 'musicquiz:category' category.slug %}">
                        <img class="cat-img rounded mx-auto" src="{{ MEDIA_URL }}{{ category.image_name }}" alt="{{ category.title }}"/>
                    </a>
                <p class="cat-title text-center">{{ category.title }}</p>
                </div>
            </div>

        {% if forloop.counter == 2 or forloop.counter == 4 %}
            </div>
        {% endif %}

        {% endfor %}
    </div>
{% endblock %}