{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block body %}
    <div class="container main-content">
        <!-- Info section -->
        <div class="heading-wrapper">
            <h2 class="text-center">{{ category.title }}</h2>
        </div>
        <br />
        <img class="img-fluid rounded mx-auto d-block" src="{{ MEDIA_URL }}{{ category.image_name }}" alt="{{ category.title }}"/>
        <h4 class="text-justify mt-4">{{ category.description }}</h4>

        <!-- Comment section -->
        <div class="container-md mt-5 mx-auto p-3" style="background-color:darkgray">

            <h4 class="text-center">A wee section of hate:</h4>

            {% include "musicquiz/components/comments.html" %}

            <!-- For adding comments -->
            <form class="w-75 mx-auto">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                </div>
                <button class="float-right" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
