{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block body %}
    <div class="container-lg main-content">
        <!-- Info section -->
        <div class="heading-wrapper">
            <h2 class="text-center">{{ category.title }}</h2>
        </div>
        <br />
        <img class="img-fluid rounded mx-auto d-block" src="{% static category.image_name %}" alt="{{ category.title }}"/>
        <h5 class="text-justify mt-4">{{ category.description }}</h5>

        <!-- Comment section -->
        <div class="container-fluid mt-5 mx-auto p-0 p-md-5">
            <!-- Comment section title -->
            <div class="heading-wrapper">
                <h4 class="text-center">A wee section of hate:</h4>
            </div>

            <!-- Rendered comments -->
            <div id="comments">
                {% include "musicquiz/components/comments.html" %}
            </div>

            <!-- For adding comments -->
            {% if user.is_authenticated %}
                <form id="add-comment"
                      data-categoryslug="{{ category.slug }}"
                      data-userid="{{ user.id }}"
                      class="mx-auto">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment-body">Comment:</label>
                        <textarea class="form-control" rows="3" id="comment-body"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn index-yes" type="submit">Submit</button>
                    </div>
                </form>
            {% else %}
                Please log in to scream.
            {% endif %}
        </div>
    </div>
{% endblock %}
