{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <section id="particles-js">
        <div class="container text-center home-page">
            <h1 class="home-title">Is your music taste out of this world...?</h1>
            <br/>

            <a class="index-yes" href="{% url 'musicquiz:quiz' %}">You bet!</a>
            <a class="index-no" href="{% url 'musicquiz:error' %}">Hell naw!</a>

        </div>
    </section>
{% endblock %}