{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    {{ selecteduser.username }} Profile
{% endblock %}

{% block body %}
<div class="container-md main-content">

    <div class="heading-wrapper">
        <h2 class="text-center">{{ selecteduser.username }}'s Profile</h2>
    </div>

    <div class="row align-items-center pt-4">
        <div class="col-3">
            <img class="avatar-big" src="{{ MEDIA_URL }}{{ userprofile.picture }}" alt="User avatar" />
        </div>
        <div class="col-auto">
                <h4>Email: {{ selecteduser.email}}</h4>
            {% if userprofile.category %}
                <h4>Category:
                    <a href="{% url 'musicquiz:category' userprofile.category.slug %}">
                        {{ userprofile.category.title }}
                    </a>
                </h4>
            {% else %}
                <h4>Category: None</h4>
            {% endif %}
        </div>
    </div>

    <div class="row p-4">
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn index-yes" value="Update"/>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}

















