{% extends 'musicquiz/base.html' %}

{% load static %}
{% block title %}{{ selecteduser.username }} Profile{% endblock %}
{% block body %}

<style>
img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	border: 5px solid #555;
}
</style>
	
<h1>{{ selecteduser.username }}'s Profile</h1>
{% if userprofile.picture %}
    <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"/>
{%  else %}
    <img src="{{ MEDIA_URL }}default_profile_pic.png" alt="No Image" />
{% endif %}
<hr>
<div>
    {% if selecteduser.username == user.username %}
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update"/>
        </form>
    {% endif %}
</div>
<div id="edit_profile"></div>
<hr>
<p>Bio? <br/>
Category?</p>

{% endblock %}

















