{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    {{ selecteduser.username }} Profile
{% endblock %}

{% block body %}
<div class="container-md main-content">

    <div class="heading-wrapper">
        <h2 class="text-center">{{ selecteduser.username }}'s Profile</h2>
    </div>

    <img class="avatar-big" src="{{ MEDIA_URL }}{{ userprofile.picture }}" alt="User avatar" />

    <hr>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update"/>
            </form>
        {% endif %}
    </div>
    <div id="edit_profile"></div>
    <hr>
    Email: {{ selecteduser.email}} <br/>
    Category: ?</p>
</div>

{% endblock %}

















