{% extends 'musicquiz/base.html' %}
{% load static %}

{% block title %}
    Quiz
{% endblock %}

{% block body %}
    <div class="container-md main-content">
        <div class="heading-wrapper text-center">
            <h2>Quiz</h2>
        </div>
        <div id="quiz-content" class="text-center pt-3">
            <div class="text-center py-4">
                <h4>Let's see what you're made of!</h4>
            </div>
            <button class="btn index-yes mx-auto" id="start-quiz">Let's go!</button>
        </div>
    </div>
{% endblock %}